.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
    margin-top: 5%;
}

.image-container{
    min-width: 300px;
}
.text-container{
    font-size: 20px;
    text-align: justify;
    min-width: 300px;
}
.image-container img{
    width: 100% ;
    flex-shrink: 0;
}
.text-container{
    margin-left: 5%;
}