.about-container{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.center-content{
    display: flex;
    flex-direction: row;
}

.text-container{
    min-width: 80%;
}

.image-container{
    max-height: 10px;
    margin-right: 10%;
}